body{
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
}
h3 {
 color: black;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 margin-left: 50%;
 margin-right: 50%;
 font-size: 50px;
 position: relative;
}
.md{
    margin-left: 50%;
    margin-top: 10%;
    position: relative;
}
#maap{
 color: "white";
 padding: "10px";
 font-family: "Arial"
}
.cutton{
     color: white;
     background-color: black;
    font-weight: 900;
    width: 200px;
    height: 30px;
    padding: "10px";
    font-family: "Arial";
    border: 0px;
    border-radius: 5px;
}
.button{
    color: black;
    background-color: white;
    font-weight: 900;
    width: 200px;
    height: 30px;
    padding: "10px";
    font-family: "Arial";
    border-width: 1px;
}
