body{
    margin: auto;
}
h3#wide,#cide {
 color: black;
}
.md{
    margin-left: auto;
    margin-top: 10%;
    position: relative;
}
#maap{
 color: "white";
 padding: "10px";
 font-family: "Arial"
}
.cutton{
     color: white;
     background-color: black;
    font-weight: 400;
    width: 200px;
    height: 30px;
    padding: "10px";
    font-family: "Arial";
    border: 0px;
    border-radius: 5px;
}
.button{
    color: black;
    background-color: white;
    font-weight: 400;
    width: 200px;
    height: 30px;
    padding: "10px";
    font-family: "Arial";
    border-width: 1px;
}
